[Unit]
Description=DSMR Monitor
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/make serve
WorkingDirectory=/home/pi/dsmr-monitor
Restart=always
RestartSec=3
User=pi

[Install]
WantedBy=multi-user.target
