<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home Energy</title>
    <link rel="manifest" href="manifest.json" />
  </head>
  <body>
    <main>

  <h1>Monitor</h1>
  
  <div id="summary"></div>
  
  <canvas id="myChart"></canvas> 
  <canvas id="myChart2"></canvas> 
  <canvas id="myChart3"></canvas> 

      <div class="container"></div>
    </main>

<script src="/static/app.js"></script>
<script src="/static/jquery.min.js"></script>

<script src="/static/moments.js"></script>
<script src="/static/chart.min.js"></script>
<script src="/static/chartjs-plugin-streaming.min.js"></script>

<script src="/static/socket.io.js"></script>

<script type="text/javascript" charset="utf-8">

  var data = []

  var ctx = document.getElementById("myChart").getContext("2d");
  var myChart = new Chart(ctx, {
    type: "bar",
    data: {
      datasets: [{
        data: [],
        label: 'Afname',
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: 'rgba(255, 99, 132, 0.5)'
      }, {
        data: [],
        label: 'Injectie',
        borderColor: 'rgb(75, 192, 192)',
        backgroundColor: 'rgb(75, 192, 192, 0.5)'
      }]
    },
    options: {
      scales: {
        xAxes: [{
          type: "realtime",
          realtime: {
            duration: 120000,
					  refresh:    1000
          }
        }]
      }
    }
  });

  var ctx2 = document.getElementById("myChart2").getContext("2d");
  var myChart2 = new Chart(ctx2, {
    type: "bar",
    data: {
      datasets: [{
        data: [],
        label: 'Afname',
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: 'rgba(255, 99, 132, 0.5)'
      }, {
        data: [],
        label: 'Injectie',
        borderColor: 'rgb(75, 192, 192)',
        backgroundColor: 'rgb(75, 192, 192, 0.5)'
      }]
    },
    options: {
      scales: {
        xAxes: [{
          type: "realtime",
          time: {
            unit: "minute"            
          },
          realtime: {
            duration: 1800000,
					  refresh:    60000
          }
        }]
      }
    }
  });

  var ctx3 = document.getElementById("myChart3").getContext("2d");
  var myChart3 = new Chart(ctx3, {
    type: "line",
    data: {
      datasets: [{
        data: [],
        label: 'fase 1',
        borderColor: 'rgb(255, 99, 132)'
      }, {
        data: [],
        label: 'fase 2',
        borderColor: 'rgb(245, 190, 80)'
      }, {
        data: [],
        label: 'fase 3',
        borderColor: 'rgb(75, 192, 192)'
      }]
    },
    options: {
      scales: {
        xAxes: [{
          type: "realtime",
          realtime: {
            duration: 120000,
					  refresh:    1000
          }
        }]
      }
    }
  });


  var socket = io("http://energy.local:8000");
  var avg = [];
  var minute = null;

  socket.on("update", function(update) {
    console.log(update);
    var now         = moment(update["timestamp"]),
        current_in  = update["in day change"] + update["in night change"],
        current_out = update["out day change"] + update["out night change"];
    avg.push( [ current_in, current_out ] );
    avg = avg.slice(-60);  // keep 1 minute
    
    if(current_in > 0) {
      myChart.data.datasets[0].data.push({ x: now, y: -current_in });
    } else {
      myChart.data.datasets[1].data.push({ x: now, y: current_out });
    }
      
    // compute x-second average watt usage for summary
    var x = 10;
    if( avg.length > x ) {
      var watt = avg.slice(-x).reduce(function(a, b) { return a - b[0] + b[1] }, 0) / x * 3600 * 1000;
      $("#summary").html("" + watt + " W");
    }

    if( minute == null ) { minute = now.minutes(); }
    if(now.minutes() != minute) {
      var bucket_in  = avg.reduce(function(a, b) { return a + b[0] }, 0),
          bucket_out = avg.reduce(function(a, b) { return a + b[1] }, 0);
      minute = now.minutes();
      myChart2.data.datasets[0].data.push({ x: now, y: -bucket_in  });
      myChart2.data.datasets[1].data.push({ x: now, y: bucket_out });
    }
    
    // voltages
    myChart3.data.datasets[0].data.push({ x: now, y: update["out phase 1"] });
    myChart3.data.datasets[1].data.push({ x: now, y: update["out phase 2"] });
    myChart3.data.datasets[2].data.push({ x: now, y: update["out phase 3"] });
  });
  
  </script>
  </body>
</html>
